<nav class="navbar navbar-expand-lg  navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://res-1.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco/tbotgewugm72zlaalevv"
                alt="logo" style="width:40px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="/fiats">Wallet</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link " href="#">Prices</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
