/* You can add global styles to this file, and also import other style files */

body{
  background-color: rgb(216,238,252);
}
  h3{
    color: rgb(36, 105, 179);
  }
  p1{
    font-weight: 20%;
    color: #aaa;
    font-size: small;
  }
  h6{
     font-size: larger;
    font-weight: bolder;
    color: white;  
  }
  h5{
    font-size: small;
    font-weight: 600;
    color: whitesmoke;
  }
  h4{
    color: rgb(117, 109, 109);
    margin-left: 2.7em;
    margin-bottom: 0em;
  
    font-weight: bolder;
    
  }
  body, input[text], button { 
    color: rgb(22, 21, 21); 
    font-family: Arial, Helvetica, sans-serif;
    
  }
  a {
    cursor: pointer;
    cursor: hand;
  }
 
  button {
    font-family: Arial;
    background-color: rgb(226, 210, 210);
    border: none;
    padding: 5px 9px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #1a83b1;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa; 
    cursor: auto;
  }
  
  /*Navigation link styles */
   .main-1{
    background-color:white;
    margin: 0;
  } 
  
  nav a {
    padding: 5px 18px;
    text-decoration: none;
    border-radius: 4px;
  }
 
  nav a:visited, a:link {
    color: #c6da10;
  }
  nav a:hover {
    color: #039be5;
    background-color: #2d9fcf;
  }
  nav a.active {
    color: #039be5;
  }
  
  /* items class */
  .items {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 3em;
    margin: 0;
    list-style-type: none;
  
  }

  .items li {
    background-color: white;
    margin: 0em 1rem 1rem;
    padding: .2em;
    height: 9em;
    border-radius: 4.5px;
    transition: box-shadow .3s;
    border: 1px solid #ccc;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .items li:hover {
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 11px rgba(33,33,33,.9);  
  }
  .items li.selected:hover {
    background-color: #1b90a0;
    color: white;
  }
  
  .items .text {
    position: relative;
    text-align: center;
   

   
  }
  
.items li {
    cursor: pointer;
    cursor: hand;
  }
  

  /* everywhere else */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
   
