<div class="main-1">
  <navbar></navbar>
</div>

<h4>My profile</h4>


<!------------Second Nav---------------->


<div class="container">

  <ul class="nav">
    <li class="nav-item">
      <a href="/cryptocoins" class="nav-link">Cryptocoins</a>
    </li>
    <li class="nav-item">
      <a href="/commodities" class="nav-link">Commodities</a>
    </li>
    <li class="nav-item">
      <a href="/fiats" class="nav-link">Fiats</a>
    </li>
    <li class="nav-item">
      <a href="/indexes" class="nav-link">Indexes</a>
    </li>
  </ul>

</div>



<!--- <a routerLink="/commodities" routerLinkActive="active">  Commodities</a>
  <a routerLink="/fiats" routerLinkActive="active">  Fiat</a>
  <a routerLink="/indexes" routerLinkActive="active">  Indexes</a>
</ul>


  ----<cryptocoins-list></cryptocoins-list>--->
<!-- </div> -->
<router-outlet></router-outlet>
